* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff7d4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #4c3d3d;
  margin: 10px;
  border-radius: 3px;
  background: #4c3d3d;
}

.headerTitle {
  padding-left: 5px;
}

.headerTitle a {
  text-decoration: none;
  color: #ffd95a;
}

.headerList {
  display: flex;
  list-style: none;
}

.headerList li {
  font-size: 22px;
  cursor: pointer;
  color: #fff7d4;
}

.headerListBtn {
  border-right: 2px solid #4c3d3d;
  padding: 10px;
}

.contactBtn {
  padding: 10px;
}

.liveDate {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.mainContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: xx-large;
  padding-bottom: 10px;
  color: #c07f00;
}

.listSection {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.bookListContainer {
  border: 2px solid black;
  border-radius: 3px;
  width: 50%;
}

.formContainer {
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  padding-top: 25px;
  width: 50%;
  display: none;
}

.removeBtn {
  margin-top: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  font-size: medium;
  border: 3px solid #4c3d3d;
  box-shadow: 3px 3px 3px #4c3d3d;
  background: #4c3d3d;
  color: #fff7d4;
}

.formBtn {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  font-size: medium;
  align-self: flex-end;
  background: #4c3d3d;
  border: 3px solid #4c3d3d;
  box-shadow: 3px 3px 3px #4c3d3d;
  color: #fff7d4;
}

.bookListItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 10px 5px 10px;
}

.bookListItems:nth-child(odd) {
  background: #ffd95a;
}

.bookList {
  font-size: larger;
}

input {
  height: 35px;
  padding: 0 8px;
  border: 3px solid black;
}

button {
  width: 90px;
}

.underline {
  width: 20%;
  height: 3px;
  background: #000;
  margin-top: 40px;
}

.formTitle {
  text-align: center;
  font-size: xx-large;
  color: #c07f00;
}

.contactTitle {
  text-align: center;
  font-size: xx-large;
  padding-bottom: 10px;
  color: #c07f00;
}

.contactSection {
  font-size: large;
  font-weight: bold;
  gap: 25px;
  display: none;
}

.contactDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #4c3d3d;
  margin: 0 12px 10px 12px;
  border-radius: 3px;
  padding: 5px 15px;
  background: #4c3d3d;
}

footer p {
  color: #ffd95a;
}

.show {
  display: flex;
  flex-direction: column;
}

.contactDetail li a {
  color: #000;
}

@media (max-width: 767px) {
  .headerListBtn {
    border-right: 2px solid #4c3d3d;
    padding: 5px;
  }

  .contactBtn {
    padding: 5px;
  }

  .bookListContainer {
    border: 2px solid black;
    border-radius: 3px;
    width: 90%;
  }

  title {
    text-align: center;
    font-size: xx-large;
    padding-bottom: 10px;
    color: #c07f00;
    margin-top: 30px;
  }

  .listSection {
    margin-top: 25px;
  }

  .show {
    display: flex;
  }

  .formContainer {
    width: 85%;
  }

  .mainContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .contactSection {
    width: 80%;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #4c3d3d;
    margin: 0 12px 10px 12px;
    border-radius: 3px;
    padding: 5px 15px;
    background: #4c3d3d;
  }
}
